body {
    font-size: 25px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
b {
    color: #3bbf9f;
}
#phpDiv {
    display: flex;
    justify-content: center;
}
.center {
    border: 5px groove #95e6b1;
    padding: 10px 15px 10px 15px;

}
.spFontId {
    font-size: 20px;
}
.hrLineByLoop {
    width: 20px;
    height: 2px;
    background-color:#19735c;
    margin: 10px auto 0 auto;
}
.eleRunImg {
    width: auto;
    height: 250px
}