body {
    font-size: 25px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
b {
    color: #3bbf9f;
}
#phpDiv {
    display: flex;
    justify-content: center;
}
.center {
    border: 5px groove #95e6b1;
    padding: 10px 15px 10px 15px;

}
.spFontId {
    font-size: 20px;
}
.hrLineByLoop {
    width: 20px;
    height: 2px;
    background-color:#19735c;
    margin: 10px auto 0 auto;
}
.eleRunImg {
    width: auto;
    height: 250px
}
.LtoSecondPart {
    display: flex;
    justify-content: right;
    margin-top: 0px;
}
.LtoSecondPart a {
    font-size: 20px;
    font-weight: bold;
    color: #1bbcb9;
    text-decoration: none;
}
.LtoSecondPart a:hover {
    color: #30d17b;
}
.smallText {
    font-size: 15px;
}
.firstTableClass{
    margin: 10px 0px 0px 0px;
    border-collapse: collapse;
    border: 2px solid rgb(71, 141, 112);
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.firstTableClass thead,tfoot {
    background-color: rgb(228, 245, 237);
}
.firstTableClass th,td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}
.firstTableClass tfoot th{
    text-align: right;
    color: #32734f;
}
.firstTableClass tfoot td{
    font-weight: none;
}